.homepage{
    display: flex;
    align-items: center;
    gap: 100px;
    height: 100%;

    .left{
        flex : 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        text-align: center;
        
        h1{
            font: 128px;
            background: linear-gradient(to right, #75fd1b, #e55571);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
        
        h3{
            font-weight: 400;
            max-width: 70%;
        }

        a{
            padding: 15px 25px;
            background-color: #e55571;
            color: white;
            border-radius: 20px;
            font-size: 14px;
            margin-top: 20px;

            &:hover{
                background-color: #ffffff;
                color: #e55571;
            }
        }
    }

    .right{
        flex : 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        .imgContainer{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(45, 13, 76);
            border-radius: 50px;
            width: 80%;
            height: 50%;

            .bgContainer{
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 5px;

                .bg{
                    background-image: url(../public/background.jpg);
                    opacity: 0.2;
                    width: 200%;
                    height: 100%;
                    background-size: fit;
                    animation: 8s ease-in-out infinite alternate slideBg;
                }
            }
        }

        .waifu{
            width: 80%;
            height: 80%;
            object-fit: contain;
            animation: 3s ease-in-out infinite alternate waifuAnimate;

        }

        .chat{
            position: relative;
            bottom: 10px;
            right: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 20px;
            background-color: yellowgreen;
            border-radius: 10px ;

            img{
                width: 32px;
                height: 32px;
                object-fit: cover;
                border-radius: 50%;
                object-fit: cover;
            }
        }

    }

    .orbital{
        position : absolute;
        bottom : 0;
        left: -8%;
        opacity: 0.1;
        animation: 100s linear infinite rotateOrbital;
    }
}




@keyframes rotateOrbital{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes waifuAnimate{
    0%{
        transform: scale(1) rotate(0deg);
    }
    100%{
        transform: scale(1.2) rotate(-5deg);
    }
}

@keyframes slideBg{
    0%{
        transform: rtanslateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}